:root{
    width:100%;
    overflow-x:hidden;
    --red: #ea5e3d;
    --sponsor-width: 2100px;
}

html{
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body{
    position:relative;
    min-height:100vh;
    width:100%;
    overflow:hidden;
    margin:0px;
    background: #e5e5e5 url("../public/rep-dot.png");
    background-size: 90px 90px;
}



h1{
    color:#333;
    margin-top:0px;
    margin-bottom:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#333;
}

h3{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#333;
}

p{
    color: #333;
}

span{
    color: #333;
}

button{
    background-color: var(--red);
    border:none;
    color:white;
    transition: .2s;
}

.button-invert{
    background-color:#3DEBAC;
    color:black;
}

button:hover{
    transform:scale(1.05)
}

.section-subheader{
    text-align:center;
    font-size:25px;
}

/*header*/

.header{
    height:500px;

    background: #e5e5e5 url("../public/rep-dot.png");
    background-size:90px 90px;
    background-color: var(--red);

    margin-bottom:20px;
    width:100%;
    filter:drop-shadow(0px 2px 2px rgba(0,0,0, .2));
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 100px), 0 100%);
}

.login-button{

    display:inline-flex;
    width:95px;
    height:30px;
    background-color:rgba(0,0,0,.2);
    border-radius:15px;
    text-decoration:none;
    margin-left:10px;
}

.login-text{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}

.login-status{
    position: absolute;
    z-index:999;
    top:0px;
    right:0px;
    padding:10px;
    background-color: rgba(255,255,255,.1);
    border-radius:0px 0px 0px 10px;
}

.login-button-text{
    margin:auto;
    color:white;
}

.title{
    text-align:center;
    color:#fff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:70px;
    padding:30px;
    padding-bottom:0px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
    margin-bottom:0px;

}

.title::before{
    content: " ";
    width: 350px;
    height: 3px;
    display:block;
    margin:auto;
    background-color:#fff;
    filter:none;
}

.title::after{
    content: " ";
    position:relative;
    top:5.5px;
    width: 350px;
    height: 3px;
    display:block;
    margin:auto;
    background-color:#fff;
    filter:none;
}

.subtitle{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    color:white;
    text-align:center;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,.3));
}


/*footer*/

.footer{
    position:relative;
    z-index:1;
    height:500px;
    width:100%;
    background: #e5e5e5 url("../public/rep-dot.png");
    background-size:90px 90px;
    background-color:var(--red);
    clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
    margin-top: -205px;
}

.footer-section{
    position:absolute;
    height:200px;
    width:100%;
    padding-top:20px;
    background-color:white;
    bottom:0;
    
}

.to-top{
    width:100px;
    margin:auto;
    height:50px;
    background-color: var(--red);
    position:absolute;
    bottom:-0px;
    left:50%;
    transform: translateX(-50px);
    border-radius:10px 10px 0px 0px;
    display:flex;
    box-shadow: 0px -2px 4px rgba(0,0,0, .2);
    cursor:pointer;

}

.to-top-text{
    margin:auto;
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size:38px;
    line-height:25px;
}

/*InfoSection*/

.two-column{
    position:relative;
    z-index:2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:fit-content;
    max-width:1000px;
    width:95%;
    margin:auto;
    margin-top:50px;
    gap:50px;
    margin-bottom:30px;
}

.fi-column{
    grid-column: span 2;
    height:fit-content;
    width:100%;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0,0, 0,.3);
}

.section-top-bar{
    background:var(--red);
    padding:17px;
    box-shadow: 0px 2px 4px rgba(0,0,0, .2);
}

.section-header{
    margin:auto;
    color:white;
    font-size:30px;
    margin-bottom:0px;
}

.section-content{
    padding:20px;
    display:grid;
    gap:20px;
    grid-template-columns: repeat(2, 1fr);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
    height:fit-content;
}

.grid-item-lg{
    grid-column: span 2;
    width:80%;
    margin:auto;
}

.grid-item-sm{  
    grid: span 1;
    text-align:center;
}

ul{
    list-style-type:none;
    padding-left:0px;
}

li{
    background-color:#fcfcfc;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
    width:1px;
    height:24px;
    margin:auto;
    margin-bottom: 1px;
    padding:5px;
    border-left: 5px solid var(--red);
    border-right: 5px solid var(--red);
    margin-bottom: 5px;
    transition:all 1s ease-in-out;
}

li span{
    opacity: 0;
    transition: all 1s;
    display:none;
}

.animate-width-80{
    width:80%;
}

.about-text{
    text-align:center;
}

.sponsor-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
    width:90%;
    margin:auto;
}

.main-sponsor{

    grid-column: span 3;
    grid-row:span 2;
    width:100%;
    height:100%;
    display:flex;
}

.sub-sponsor{

    grid-column: span 1;
    grid-row:span 1;
    width:100%;
    margin:auto;
    height:100%;
    display:flex;
}

.sponsor-img{
    object-fit:contain;
    margin:auto;
    width:100%;
}

/*SponsorBar*/


@keyframes sidescroll {
    from{
        left:0px
    }
    to{
        left:var(--sponsor-width);
    }
}

@keyframes sidescroll2 {
    from{
        left: calc(-1 * var(--sponsor-width));
    }
    to{
        left:0px
    }
}

.rotating-container{
    display:inline-block;
    position:absolute;
    vertical-align:top;
    top:70px;
    left:calc(-1 * var(--sponsor-width));
    width:var(--sponsor-width);
    animation-name: sidescroll2;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display:flex;
    justify-content: space-around;
}

.rotating-container-2{
    position:absolute;
    display:inline-block;
    top:70px;
    width:var(--sponsor-width);
    animation-name: sidescroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display:flex;
    justify-content: space-around;
}


.sponsor-container{
    display:inline-block;
    font-size:30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    padding-left:20px;
    padding-right:20px;
    color:#e5e5e5;
    transition: color .3s;
}

.sponsor-container:hover{
    color: #333;
}


/*index*/

.cont-title{
    padding-left:15px;
    display:inline-block;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    font-size:19.5px;
    color: #fff;
    cursor:pointer;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,.3));
}

.new-tournament{
    display:inline-block;
    background-color:black;
    color:white;
    border-radius:5px;
    height:28px;
    width:80px;
}

.page-changes{
    float:right;
    display:flex;
    width:200px;
    height:40px;
    
}

.page-change-button{
    margin:auto;
    font-weight:bold;
    font-size:25px;
    background:none;
    padding-bottom:3px;
}

.page-change-text{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size:20px;
    padding-top:7px;
    font-weight:bold;
}

.content{
    max-width:1000px;
    width:95%;
    position:relative;
    top: -300px;
    margin:auto;
    margin-bottom:-300px;

}

.container{
    position:relative;
    height: fit-content;
    background-color:#fff;
    padding:20px;
    overflow-x:hidden;
    overflow-y: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 10px rgba(0,0, 0,.3);

}


/*triangle*/
 .arrow{
    content: "";
    display:none;
    position:relative;
    color:white;
    background-color:none;
    border-top: 20px solid; 
    border-left: 20px solid transparent;
    border-right:20px solid transparent;
    width:0px;
    height:0px;
    bottom: 0px;
    z-index:2;
    left:50%;
    transform: translateX(-20px);
    filter: drop-shadow(0px 5px 3px rgba(0,0,0,.2));

} 



.grid{
    position:relative;
    width:100%;
    display:grid;
    grid-template-columns: repeat(100, 33.3333333333%);
    transition: all 1s;

}

.grid-no-transition{
    transition:none;
}

.player-grid{
    position:relative;
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.animating{
    animation: shiftleft 2s forwards;
}

@keyframes shiftleft {
    100%{
        transform: translateX(-33%);
    }
}

.player-container{
    height:800px;
    height:0px;
    padding:0px;
    transition: height .5s;
    background:transparent;
    box-shadow:none;
}

.card-container{
    height:100%;
}





/*TourneyCard*/

.tourney-card{
    width:80%;
    height:fit-content;
    margin: 0 auto;
    background-color:white;
    display:inline-flex;
    flex-direction:column;
    padding:10px;
    transition: all .2s
}

.tourney-card:hover{
    transform:scale(1.05);
    background-color: var(--red);
}

.tourney-card:hover h2{
    color:white;
}

.tourney-card:hover span{
    color:white;
}

/*.img-container{
    width:100%;
    height:fit-content;
    flex:5;
    background-color:#e5e5e5;
    display:flex;
}*/

.tourney-infobar{
    
    display:flex;
    width:100%;
}

.tourney-img{
    width:100%;
    height:256px;
    max-height: calc((95vw - 40px) / 3 * .8 - 20px);/*brittle, temporary fix*/
    object-fit:scale-down;
    background-color:#e5e5e5;
}

.default-img{
    width:70%;
}

.infobar-left{
    flex:3;
    height:100%;
}
.infobar-right{
    flex:1;
    height:100%;
    display:none; /*hidden for now*/
    
}

.tc-title{
    margin-top:10px;
    margin-bottom:10px;
    font-size:23px;
    white-space:normal;
}

.countdown-text{
    display:block;
    margin:auto;
    width:80%;
    text-align:center;
    margin-top:10px;
    font-size:9px;
}

.delete-button{
    position:absolute;
    overflow:hidden;
    width:25px;
    height:25px;
    top:25px;
    right:25px;
    display:none;
    transition: width 1s;
}

.delete-button:hover{
    width:75px;
}

.tourney-card:hover .delete-button{
    display:block;
}


/*TourneyInfo*/

.ti-container{
    display:inline-block;
    padding-top:25px;
    padding-right:50px;
    padding-left:10px;
    position:relative;
    white-space: normal;
    height:100%;
    vertical-align:top;
    grid-column: span 2;

}

.ti-header{
    margin-bottom:8px;
    font-size:32px;
}

.ti-subheader{
    margin-top:0px;
    margin-bottom:5px;
}

.ti-content{
    padding: 10px 0px;
    font-size:17px;
}

.back-button{
    position:absolute;
    width:30px;
    height:30px;
    top:25px;
    right:25px;
}

.ti-button{
    margin:10px;
    margin-left:0px;
    width:200px;
    height: 50px;
    font-size:22px;
    font-weight:bold;
}

.textbox{
    width:100px;
    word-break:break-all;
}

/*SearchBar*/

.search-bar{
    position:relative;
    width: 93%;
    margin:auto;
    margin-bottom:15px;
    height:fit-content;
    padding:15px;
    background-color:white;
    filter:drop-shadow(2px 2px 2px rgba(0,0,0,.2));
}

.mobile-toggle-search{
    height:30px;
    width:70px;
    margin-right:10px;
    display:inline-block;
    display:none;
}

.search-div{
    display:inline-block;
}

.search-input{
    margin-right:10px;
    height:25px;
    width:200px;
    font-size:17px;
    border-radius: 5px;
}

.search-button{
    height:30px;
    width:70px;
    margin-right:10px;
    display:inline-block
}



.select-label{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: var(--red);
    font-size:20px;
    margin:15px;
    margin-right:5px;
    margin-left:25px;

}

select{
    height:30px;
}

.filter-and-sort{
    float:right;
}

.mobile-filter-and-sort{
    float:right;
    display:none;
}

.filter-div{
    float:right;
}
.sort-div{
    float:right;
}

.filter-sort-button{
    width:70px;
    height:30px;
    margin-left:10px;
    margin-top:1px;
    display:none;
}

/*PlayerCard*/

.player-card{
    position:relative;
    width:80%;
    height:250px;
    border-radius:10px;
    background-color:white;
    margin:auto;
    display:inline-flex;
    flex-direction:column;
    padding:10px;
    margin-top:70px;
    margin-bottom:20px;
    vertical-align:top;
    transition: width 1s;
    filter:drop-shadow(4px 4px 4px rgba(0,0,0,.2));
    text-align:center;
}

.prof-pic{
    border-radius:50%;
    width:100px;
    height:100px;
    position:absolute;
    left:50%;
    top: -58px;
    border: 8px solid var(--red);
    transform: translateX(-58px);
    background-color:white;
}

.pc-content{
    white-space:normal;
}

.pc-name{
    margin-top:50px;
    margin-bottom:5px;
    font-size:26px;

}


.pc-division{
    margin-top: 5px;
    margin-bottom:10px;
    font-size:19px;
}

.pc-desc{
    width:90%;
    margin:auto;
}

.button-section{
    display:flex;
    width:calc(100% - 40px);
    position:absolute;
    bottom:0px;
    left:0px;
    padding:20px;
    margin:auto;
}

.pc-button{
    margin:auto;
    width:100%;
    height:35px;
    font-size:15px;
}

.contact-button{
    background-color: #333;
    color:white;
}

/*AddPlayerCard*/

.add-player{
    display:inline-block;
    padding:10px;
    transition: background-color .5s;

}

.add-player-form{
    display:inline-block;
    text-align:center;
    width:500px;
    grid-column: span 2;
}

.add-player::before{
    content: " ";
    position:absolute;
    display:block;
    background-color:#333;
    height:5px;
    width:100px;
    top:50%;
    left:50%;
    transform: translate(-50px, -2.5px) rotate(90deg);
}

.add-player::after{
    content: " ";
    position:absolute;
    display:block;
    background-color:#333;
    height:5px;
    width:100px;
    top:50%;
    left:50%;
    transform: translate(-50px, -2.5px);
}

.add-player:hover{
    background-color:gray;
}

.add-player:hover::before{
    background-color:white;
}

.add-player:hover::after{
    background-color:white;
}

.add-player:hover h2{
    color:white;
}

.add-player-title{
    margin:auto;
    width:fit-content;
    margin-top:10px;
    font-size:30px;
}

.add-player-button{
    width:45%;
    height:30px;
    font-size:17px;
}

.clickable-wrapper{
    height:100%;
    width:100%;
    cursor: pointer;
}


/*OverlayForm*/
.overlay-shadow{
    display:flex;
    position:fixed;
    z-index:999;
    width:100%;
    height:100vh;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,.8)
}

.form{
    background-color:white;
    border-radius:10px;
    padding:25px;
    padding-top:10px;
    width:290px;
    margin:auto;
}

.form-title{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:800;
    width:fit-content;
    margin-top:10px;
    margin-bottom:15px;
    font-size:23px;
}


.form-input{
    margin-bottom:20px;
    margin-left:0px;
    width:90%;
}

.form-input:not(select){
    padding:5px;
}


.form-img-button{
    padding:6px 10px;
    margin-bottom:10px;
    background-color:#333;
}

.selected-img-text{
    padding-left:10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:12px;
}

label{
    display:block;
    color: #b7b7b7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    font-size:13px;
    margin-bottom:5px;
}


/*utility*/

.in-focus{
    position:absolute;
    left:0px;
}

.hidden{
    display:none;
}

.hidden *{
    display:none;
}

.invalid-input{
    background-color: rgba(255,0,51,.2)
}



.players-fullheight{
    height: fit-content;
    padding:20px;
    padding-top:30px;
    margin-bottom:25px;
}

.canScrollTo{
    height:fit-content;
    position:relative;
    display:none;
}



/*Breakpoints*/

@media (max-width: 1075px){
    .tourney-card{
    }
    .ti-container{
        height:28vw;
        padding-top: 2vw;
    }

    .back-button{
        top:2vw;
        right:2vw;
    }

    .ti-header{
        font-size:3vw;
    }
    .ti-subheader{
        font-size:2vw;
    }
    .ti-button{
        width:18.6vw;
        height: 4.7vw;
        vertical-align: top;
    }

    .tourney-container{
    }
    .tc-title{
        font-size: 2.14vw;
    }

    .ti-content{
        font-size:1.7vw;
        margin-top: 1vw;
        margin-bottom:1vw;
    }
}

@media (max-width:950px){
    .header{
        padding-top:50px;
    }
}

@media (max-width: 890px){
    .filter-div,.sort-div{
        display:none;
    }
    
    .filter-sort-button{
        display:inline-block;
        float:right;
    }

    .filter-div,.sort-div{
        position:absolute;
        padding:5px 15px;
        text-align:right;
        bottom:-37px;
        left:0px;
        width: calc(100% - 30px);
        background-color:#EEEEEE;
        display:none;

    }

    .selected-tourney-card{
        display:none;
    }
    .ti-container{
        grid-column: span 3;
        height:fit-content;
    }


    .ti-header{
        font-size:4vw;
        margin-top:-1.5vw;
    }
    .ti-subheader{
        font-size:2.8vw;
    }

    .ti-content{
        font-size:2.1vw;
    }

    .ti-button{
        width:19.6vw;
        height: 5.7vw;
        font-size:2.5vw;
    }
}

@media (max-width: 725px){

    .two-column{
        /*grid-template-columns: 100%; reduces # columns to 1 */
        margin:auto;
        margin-top:25px;
        gap:25px;
    }

    .fi-column{
        width:100%;
        margin:auto;

    }

    .sponsor-grid{
        width:80%;
        margin:auto;
    }
}

@media (max-width: 690px) {
    .add-player{
        margin-top:25px;
    }

    .grid-item-sm{
        grid-column:span 2;
    }
}


@media (max-width: 600px){
    .search-div{
        position:absolute;
        padding:5px 15px;
        bottom:-37px;
        left:0px;
        width: calc(100% - 30px);
        background-color:#EEEEEE;
        display:none;
    }

    .mobile-toggle-search{
        display:inline-block;
    }
}

@media (max-width: 580px){


    
    .tourney-container{
        height:540px;
    }

    .grid{
        grid-template-columns: 100%;
        height:100%;
        -webkit-overflow-scrolling: touch;
        overflow-y:scroll;
        overflow-x:hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        left:0px !important;
    }

    .tourney-img{/*brittle, temporary fix*/
        max-height: none;
        height: calc((95vw - 40px) * .8 - 20px);
    }


    .tc-title{
        font-size:20px;
    }

    .page-changes{
        display:none;
    }
    
    .tourney-card{
        margin-top:10px;
        margin-bottom:10px;
    }

    .ti-header{
        font-size:27.5px;
    }
    .ti-subheader{
        font-size:17px;
    }
    .ti-content{
        font-size:13px;
    }
    .ti-button{
        width:125px;
        height:40px;
        font-size: 18px;
    }

    .tourney-info-mode{
        height:fit-content;
        overflow-y:hidden;
    }
    
    .tourney-info-mode::-webkit-scrollbar{
        display:none
    }

    .sponsor-grid{
        width:100%;
    }
}

@media (max-width: 435px){
    .title{
        font-size:55px;
    }
    .title:after, .title:before{
        width:270px;
    }


    .login-status{
        width: calc(100% - 20px);
        text-align:center;
        border-radius:0px;
    }

    .content{
        top:-325px;
    }

    .players-fullheight{
        margin-bottom:0px;
    }

    .ti-button{
        width:100px;
        height:32px;
        font-size:12px;
    }

    .footer-section{
        height:250px;

    }
    .rotating-container,.rotating-container-2{
        top:100px
    }
}




.visible{
    display:block;
}

.visible-inline{
    display:inline-block;
}

.full-opacity{
    opacity:1;
}